{block title}
    Front - Fault - fault
{/block}

{block content_menu}

{/block}

{block content}
   <p>
       Nahlásit závadu + mapa + klikání na objekty
   </p>

{/block}

{* JS kod pro konkretni Presenter *}
{block scripts}
    {include parent}

{/block}

{block head}

    {* CSS kod pro konkretni Presenter *}
{/block}