{block title}
    Front - Furniture - furniture
{/block}

{block content_menu}

{/block}

{block content}
    <p>
       Městský mobiliář + mapa
    </p>


{/block}

{* JS kod pro konkretni Presenter *}
{block scripts}
    {include parent}

{/block}

{block head}

    {* CSS kod pro konkretni Presenter *}
{/block}