parameters:


application:
	errorPresenter: Error
	mapping:
	    *: *Module\*Presenter


session:
	expiration: 14 days


services:
    authenticator: App\Model\MyAuthenticator
    router: App\RouterFactory::createRouter
    - AdminModule\InsertEletricFormFactory
    - AdminModule\InsertFaultFormFactory
    - AdminModule\EditEletricFormFactory
    - AdminModule\InsertFurnitureFormFactory
    - AdminModule\InsertInterestFormFactory
    - AdminModule\InsertWasteFormFactory
