{block title}
    Odlášení
{/block}


{block content}
    FIXME design

    <h1>Odhlášení</h1>

    Byli jste odhlášení můžete se znovu přihlásit na: <a href="{link Sign:in}">zde</a>

{/block}


{block scripts}
    {include parent}
    <script type="application/javascript">
    </script>
{/block}


{block head}
    <style>
    </style>
{/block}