{block title}
    Front - Eletric - eletric
{/block}

{block content}
    <p>
        Mapa eletrická zařízení
    </p>

{/block}

{* JS kod pro konkretni Presenter *}
{block scripts}
    {include parent}

{/block}

{block head}

    {* CSS kod pro konkretni Presenter *}
{/block}