{block title}
    Front - Interest - interest
{/block}

{block content}
    <p>
        Místa zájmu + mapa
    </p>

{/block}

{* JS kod pro konkretni Presenter *}
{block scripts}
    {include parent}

{/block}

{block head}

    {* CSS kod pro konkretni Presenter *}
{/block}